demo/mule-agentforce-connector-bot-operations-demo/src/main/mule/send-message-sync-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	  xmlns:http="http://www.mulesoft.org/schema/mule/http"
	  xmlns:ms-agentforce="http://www.mulesoft.org/schema/mule/ms-agentforce"
	  xmlns="http://www.mulesoft.org/schema/mule/core"
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ms-agentforce http://www.mulesoft.org/schema/mule/ms-agentforce/current/mule-ms-agentforce.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<!-- POST to http://localhost:8081/sendMessageSync with body: { "prompt": "Your question" } -->
	<flow name="send-message-sync-demo-flow" doc:id="a1b2c3d4-e5f6-7890-abcd-ef1234567890">
		<http:listener doc:name="Listener" doc:id="b2c3d4e5-f6a7-8901-bcde-f12345678901"
					   config-ref="HTTP_Listener_config" path="/sendMessageSync"/>
		<set-variable value="#[payload.prompt]" doc:name="Set prompt variable"
					  doc:id="c3d4e5f6-a7b8-9012-cdef-123456789012" variableName="prompt"/>
		<ms-agentforce:start-agent-conversation doc:name="Start agent conversation"
			doc:id="d4e5f6a7-b8c9-0123-def1-234567890123" config-ref="Agentforce_AI_Config"
			agent="0Xx5b0000008ObjCAE" target="sessionId" targetValue="#[payload.sessionId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="e5f6a7b8-c9d0-1234-ef12-345678901234"
				message="Session: #[vars.sessionId], Prompt: #[vars.prompt]"/>
		<ms-agentforce:send-message-sync doc:name="Send message sync"
			doc:id="f6a7b8c9-d0e1-2345-f123-456789012345" config-ref="Agentforce_AI_Config"
			messageSequenceNumber="1">
			<ms-agentforce:message><![CDATA[#[vars.prompt]]]></ms-agentforce:message>
			<ms-agentforce:session-id><![CDATA[#[vars.sessionId]]]></ms-agentforce:session-id>
		</ms-agentforce:send-message-sync>
		<ee:transform doc:name="Extract Structured Data" doc:id="a7b8c9d0-e1f2-3456-1234-567890123456">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	messages: payload.messages map (msg) -> {
		type: msg."type",
		message: msg.message,
		result: msg.result default [],
		citedReferences: msg.citedReferences default [],
		collect: msg.collect default [],
		confirm: msg.confirm default []
	},
	metadata: {
		messageMetadata: attributes.messageMetadata map (meta) -> {
			id: meta.id,
			type: meta."type",
			feedbackId: meta.feedbackId,
			planId: meta.planId,
			isContentSafe: meta.isContentSafe,
			metrics: meta.metrics
		},
		links: {
			self: attributes.links.self.href,
			messages: attributes.links.messages.href,
			session: attributes.links.session.href,
			end: attributes.links."end".href
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b8c9d0e1-f2a3-4567-2345-678901234567"
				message="Response: #[payload]"/>
		<ms-agentforce:end-agent-conversation doc:name="End agent conversation"
			doc:id="d0e1f2a3-b4c5-6789-4567-890123456789" config-ref="Agentforce_AI_Config">
			<ms-agentforce:session-id><![CDATA[#[vars.sessionId]]]></ms-agentforce:session-id>
		</ms-agentforce:end-agent-conversation>
	</flow>

	<!-- POST to http://localhost:8081/sendMessageSyncWithVariables with body: { "prompt": "Show me my cases", "contactId": "003Ig00000DsENIIA3" } -->
	<flow name="send-message-sync-with-variables-demo" doc:id="z1a2b3c4-d5e6-7890-abcd-ef9876543210">
		<http:listener doc:name="Listener" doc:id="z2b3c4d5-e6f7-8901-bcde-f09876543211"
					   config-ref="HTTP_Listener_config" path="/sendMessageSyncWithVariables"/>
		<set-variable value="#[payload.prompt]" doc:name="Set prompt variable"
					  doc:id="z3c4d5e6-f7a8-9012-cdef-109876543212" variableName="prompt"/>
		<set-variable value="#[payload.contactId]" doc:name="Set contactId variable"
					  doc:id="z4d5e6f7-a8b9-0123-def1-209876543213" variableName="contactId"/>
		<ms-agentforce:start-agent-conversation doc:name="Start agent with context variables"
			doc:id="z5e6f7a8-b9c0-1234-ef12-309876543214" config-ref="Agentforce_AI_Config"
			agent="0Xx5b0000008ObjCAE" target="sessionId" targetValue="#[payload.sessionId]">
			<ms-agentforce:variables>
				<ms-agentforce:variable name="verifiedContactID" value="#[vars.contactId]" type="Text"/>
			</ms-agentforce:variables>
		</ms-agentforce:start-agent-conversation>
		<logger level="INFO" doc:name="Logger" doc:id="z6f7a8b9-c0d1-2345-f123-409876543215"
				message="Session with context: #[vars.sessionId], ContactID: #[vars.contactId]"/>
		<ms-agentforce:send-message-sync doc:name="Send message sync"
			doc:id="z7a8b9c0-d1e2-3456-1234-509876543216" config-ref="Agentforce_AI_Config"
			messageSequenceNumber="1">
			<ms-agentforce:message><![CDATA[#[vars.prompt]]]></ms-agentforce:message>
			<ms-agentforce:session-id><![CDATA[#[vars.sessionId]]]></ms-agentforce:session-id>
		</ms-agentforce:send-message-sync>
		<ee:transform doc:name="Extract Response" doc:id="z8b9c0d1-e2f3-4567-2345-609876543217">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	messageType: payload.messages[0]."type",
	message: payload.messages[0].message,
	// With verifiedContactID, agent should directly provide case info
	// Without it, agent would ask for email verification first
	contextProvided: true,
	contactId: vars.contactId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="z9c0d1e2-f3a4-5678-3456-709876543218"
				message="Response with context: #[payload]"/>
		<ms-agentforce:end-agent-conversation doc:name="End agent conversation"
			doc:id="z0d1e2f3-a4b5-6789-4567-809876543219" config-ref="Agentforce_AI_Config">
			<ms-agentforce:session-id><![CDATA[#[vars.sessionId]]]></ms-agentforce:session-id>
		</ms-agentforce:end-agent-conversation>
	</flow>

	<!-- POST to http://localhost:8081/sendMessageSyncTyped with body: { "prompt": "Your question" } -->
	<flow name="send-message-sync-typed-demo" doc:id="f2a3b4c5-d6e7-8901-6789-012345678901">
		<http:listener doc:name="Listener" doc:id="a3b4c5d6-e7f8-9012-7890-123456789012"
					   config-ref="HTTP_Listener_config" path="/sendMessageSyncTyped"/>
		<set-variable value="#[payload.prompt]" doc:name="Set prompt variable"
					  doc:id="b4c5d6e7-f8a9-0123-8901-234567890123" variableName="prompt"/>
		<ms-agentforce:start-agent-conversation doc:name="Start agent conversation"
			doc:id="c5d6e7f8-a9b0-1234-9012-345678901234" config-ref="Agentforce_AI_Config"
			agent="0Xx5b0000008ObjCAE" target="sessionId" targetValue="#[payload.sessionId]"/>
		<ms-agentforce:send-message-sync doc:name="Send message sync"
			doc:id="d6e7f8a9-b0c1-2345-0123-456789012345" config-ref="Agentforce_AI_Config"
			messageSequenceNumber="1">
			<ms-agentforce:message><![CDATA[#[vars.prompt]]]></ms-agentforce:message>
			<ms-agentforce:session-id><![CDATA[#[vars.sessionId]]]></ms-agentforce:session-id>
		</ms-agentforce:send-message-sync>
		<ee:transform doc:name="Process by Message Type" doc:id="e7f8a9b0-c1d2-3456-1234-567890123456">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var firstMessage = payload.messages[0]
var messageType = attributes.messageMetadata[0]."type"
---
{
	messageType: messageType,
	response: messageType match {
		case "Inform" -> {
			text: firstMessage.message,
			operationResults: firstMessage.result,
			sources: firstMessage.citedReferences
		}
		case "Inquire" -> {
			question: firstMessage.message,
			collectOptions: firstMessage.collect
		}
		case "Confirm" -> {
			confirmationMessage: firstMessage.message,
			itemsToConfirm: firstMessage.confirm
		}
		case "Failure" -> {
			errorCode: firstMessage.code,
			errorMessage: firstMessage.message,
			errors: firstMessage.errors
		}
		case "Escalate" -> {
			escalationTargets: firstMessage.targets
		}
		else -> {
			message: firstMessage.message
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f8a9b0c1-d2e3-4567-2345-678901234567"
				message="Response: #[payload]"/>
		<ms-agentforce:end-agent-conversation doc:name="End agent conversation"
			doc:id="a9b0c1d2-e3f4-5678-3456-789012345678" config-ref="Agentforce_AI_Config">
			<ms-agentforce:session-id><![CDATA[#[vars.sessionId]]]></ms-agentforce:session-id>
		</ms-agentforce:end-agent-conversation>
	</flow>
</mule>
